body {
    background: url(./fotos/TexturesCom_WoodPlanksClean0102_2_seamless_S.jpg);
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

header {
    text-align: center;
    background-image: repeating-radial-gradient(purple 20%, gold 35%);
}

header h1 {
    color: white;
}

a:hover {
    font-size: 150%;
    color: yellow
}

a:focus {
    font-size: 150%;
    color: yellow
}

ul.navigation {
    margin: 0 auto;
    padding: 25px 10px;
    list-style: none;
    background-color: purple;
}

ul.navigation li {
    width: 490px;
    list-style-type: none;
    float: left;
    border-right: 1px solid white;
}

li a {
    display: block;
    color: white;
}

main h2 {
    font-size: 200%;
    padding-top: 20px;
    padding-left: 40px;
}

.champions {
    background-color: rgba(212, 223, 59, 0.685);
}

.champions img {
    float: left;
    padding: 5px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.champions p {
    padding: 10px;
    padding: left 10px;

}

